<div>
  <form action="/search" id="search_form">
    <input type="text" class="form-inline job-search job-keyword" autocomplete="off" id="job_keyword" name="q" placeholder="What are you looking for?"> 
    <input type="text" class="form-inline job-search job-location" autocomplete="off" id="job_location" name="l" placeholder="Where do you want to work next?"> 
    <button type="submit" class="search-button form-inline btn btn-primary" id="submit_job_search">
      Search
    </button>
  </form>
</div>
