development:
  adapter: postgresql
  encoding: unicode
  database: hiresource_dev
  pool: 5
  username: hiresource
  password: hiresource

test:
  adapter: postgresql
  encoding: unicode
  database: hiresource_test
  pool: 5
  username: hiresource
  password: hiresource
