<!DOCTYPE html>
<html>
  <head>
    <title>Hiresource</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="header">
      <div id="header_content">
        <div id="header-left-icon-area" class="left-icon">
          <div id="header-left-icon">
            <a class="pure-menu-heading" href="">Hire Source</a>
          </div>
        </div>
      </div>
    </div>

    <div class="content-wrapper">
      <div id="app_content" class="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
